.main-nav{
    display: flex;
    align-items: center;
    background: transparent;
    height:$main-nav-height;
    margin: 0 3rem;
}

.nav-list{
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 0;
}

.nav-item{
    margin: 0 1rem;
    text-transform: uppercase;
    position: relative;
    &>a{
        text-decoration: none;
        color: $text-dark;
    }
    .fa-chevron-right{
        display: none;
    }
    .fa-chevron-down{
        color: $text-light;
        font-size: .5rem;
        line-height: 1.5rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    &:hover > a, &:hover .fa-chevron-down{
        color: $aqua-color;
    }
}

.logo{
    flex-grow: 1;
    display: flex;
    align-items: center;

    margin-right: 10rem;
    line-height: 1.7rem;
    a{
        text-decoration: none;
    }
    h1{
        font-size: 1.5rem;
        font-weight: 500;
        color: $text-dark;
    }
}

.search{
    position: relative;
    color: $text-dark;
    input{
        background: transparent;
        border: 1px solid $text-light;
        padding: .3rem .5rem;
        color: inherit;
    }
    button{
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        border: none;   
        padding: .3rem .5rem;
        cursor: pointer;
    }
}